.skills-area{
    text-align: center;
    padding: 25px;

}
.skills-area h2{
    font-size:var(--h1-font-size);
}
.skills-list{
    margin-top: 5%;
}
.skills-img{
    width: 600px;
}

@media screen and (max-width:400px){
    .skills-img{
        width: 300px;
    }
}