.footer-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 8%;
    height: fit-content;
    flex-wrap: wrap;
    flex-grow: 1;
}

.footer-main{
    width: 120%;
    background-color: #1E1F26;
    transform: translateX(-8.4%);
}
h2{
    font-family:cursive;
}

.footer-icons{
    display: flex;
    width: fit-content;
}
.footer-icons a{
    display: flex;
    height: 20px;
    width: 40px;
    width: fit-content;
    justify-content: center;
    margin-left: 0px;
    margin-right: 4px;
    background-color: grey;
    border-radius: 5px;
}
.footer-icons a img{
    width: 60%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

table thead tr td{
    padding: auto;
    font-size: 16.97px;

}
table tbody tr td{
    color: #848895;
    font-size: 16.97px;
    padding:3px 48px 5px 8px;
}
table tbody tr td:hover{
    text-decoration: underline;
}